/* Your custom css goes here */
@media (min-width: 960px){
.pizza-card{
    height: 400px;
    width: 320px;
    }
.content{
    padding-left:320px;
    }
}
@media (max-width: 960px){
.pizza-card{
    height: 240px;
    width: 160px;
    }
.content{
    padding-left:8px;
    }
}

